@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

@model GearTalk.Web.Models.ViewModel.ReviewDetailsViewModel


@{
    ViewData["Title"] = Model.ModelName;
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            @if(Model != null )
            {
                <h1>@Model.ModelName</h1>
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secondary">@Model.Author</span>
                    <span class="text-secondary">@Model.PublishedDate</span>
                </div>

                <div class="mb-3">
                    @if(signInManager.IsSignedIn(User))
                    {

                        <a style="cursor:pointer;">

                            <i class="bi bi-hand-thumbs-up"></i>
                        </a>
                    }

                    <span id="totalLikes">@Model.TotalLikes</span> likes
                    
                    
                </div>

                <div class="mb-3 d-flex">
                    <span class="badge bg-secondary me-1">@Model.category.Name</span>
                </div>
                <img src="@Model.FeaturedImageUrl" class="d-block img-fluid"mb-3>
                <div class="mb-3 blog-details-content">
                    @Html.Raw(@Model.Content)
                </div>
            }else
            {
                <p>Review is not found!</p>
            }


        </div>
    </div>
</div>
