@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@model GearTalk.Web.Models.ViewModel.ReviewDetailsViewModel


@{
    ViewData["Title"] = Model.ModelName;
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            @if(Model != null )
            {
                <h1>@Model.ModelName</h1>
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secondary">@Model.Author</span>
                    <span class="text-secondary">@Model.PublishedDate</span>
                </div>

                <div class="mb-3">
                    
                    @if(Model.Liked)
                    {
                        <a  style="cursor:pointer;">

                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </a>
                    }
                    else
                    {
                        <a id="btnLike" style="cursor:pointer;">

                            <i class="bi bi-hand-thumbs-up"></i>
                        </a>
                    }

                       
                    

                    <span id="totalLikes">@Model.TotalLikes</span> likes
                    
                    
                </div>

                <div class="mb-3 d-flex">
                    <span class="badge bg-secondary me-1">@Model.category.Name</span>
                </div>
                <img src="@Model.FeaturedImageUrl" class="d-block img-fluid"mb-3>
                <div class="mb-3 blog-details-content">
                    @Html.Raw(@Model.Content)
                </div>
            }else
            {
                <p>Review is not found!</p>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // event listener
        const btnLikeElement = document.getElementById('btnLike');
        const totalLikesElement = document.getElementById('totalLikes');

        async function getTotalLikes(){
            fetch('/api/CarReviewLike/@Model.Id/totalLikes', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept' : '*/*'

                }
            })
            .then(data => data.json())
            .then(result => totalLikesElement.innerHTML = result);

        }

        async function addLikeForReview() {
            fetch('api/CarReviewLike/Add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': '*/*'

                },
                body: JSON.stringify({

                    CarReviewId: '@Model.Id', 
                    UserId: '@userManager.GetUserId(User)'
                })

            }).then(() => {

            btnLikeElement.innerHTML= '<i class="bi bi-hand-thumbs-up-fill"></i>';
            btnLikeElement.removeEventListener('click', addLikeForReview);
            getTotalLikes();

            
        });
     
        }


        btnLikeElement.addEventListener('click', addLikeForReview);
    </script>
}